.column {
  float: left;
  width: 33.33%;
  height: 60%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.patient1, .patient2, .patient3 {
	height: 30px;
	background-color:#E0E0E0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.patient_isyou {
	height: 30px;
	background-color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}


.player {
	height: 500px;
	text-align: center;
}