.doctor{
    font-size: 2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.fa-briefcase-medical{
    color: rgb(123,175,212);
}
.fa-band-aid{
    color: sienna;
}
.fa-heartbeat{
    color: maroon;
}
.player{
    font-size: 1.5rem;
}
#public-health-logo {
    width: 100%;
    grid-column: 1/2;
    grid-row:1;
}
#countdown{
    text-align: center;
    border-style: solid;
    font-family: 'Passion One', cursive;
    font-size: 1.5em;
    grid-column: 3;
    grid-row: 1;
}
#time{
    color: red;
}
main{
    font-size: 2rem;
    text-align: center;
    font-family: 'Chonburi', cursive;
    grid-column: 2/3;
    grid-row: 2;
    border-style: groove;
    border-color: lightblue;
}
body{
    background-image: url("pink_rice.png");
    background-repeat: repeat;
    height: 100vh;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
}
#one{
    grid-column: 1/2;
    grid-row: 2/3;
}
#two{
    grid-column: 2/3;
    grid-row: 1/2;
}
#three{
    grid-column: 3;
    grid-row: 2/3;
}
#four{
    grid-column: 2/3;
    grid-row: 3;
}